<li>
  {{#link-to 'question'}}{{question.content}} by {{question.author}}{{/link-to}}
  <!-- {{#if isNotesShowing }}
    <p>{{question.notes}}</p>
  {{else}}
    <button {{action 'notesShow'}}>Notes</button>
  {{/if}} -->
</li>
